.contentContainer {
  display: flex; /* Imposta il contenitore come flexbox */
  justify-content: space-between; /* Spazio tra le colonne */
  margin-top: 60px;
  padding-left: 300px;
}

.leftColumn {
  flex: 1; /* Occupa spazio disponibile nella colonna sinistra */
  margin-right: 20px; /* Spazio tra le colonne */
}

.rightColumn {
  flex: 1; /* Occupa spazio disponibile nella colonna destra */
}

.heading {
  margin-bottom: 20px;
  text-align: left; /* Allinea il testo a sinistra per una migliore leggibilità */
}

.heading.h1 {
  font-size: 3.5em; /* Dimensione di h1 */
}

.heading.h2 {
  font-size: 1.8em; /* Dimensione di h2 */
}

.paragraph {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.videoContainer {
  margin: 20px 0;
  padding-left: 20px;
}

.video {
  max-width: 45%; 
  height: auto;
}
